<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thoughtworks.lhli.lovelive_rock">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".LoveLiveApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CardActivity"
            android:label="@string/card_layout_label"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CardDetailActivity"
            android:label="@string/card_detail_layout_label"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FullScreenCardActivity"
            android:label="@string/card_full_screen_label"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EventActivity"
            android:label="@string/event_layout_label"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EventDetailActivity"
            android:label="@string/event_detail_label"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MedleyFestivalCalculatorActivity"
            android:label="@string/medley_festival_calculator_label"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NormalCalculatorActivity"
            android:label="@string/normal_calculator_label"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScoreMatchCalculatorActivity"
            android:label="@string/sm_calculator_label"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SongActivity"
            android:label="@string/song_label"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SongDetailActivity"
            android:label="@string/song_detail_label"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5670c3c367e58e13610047e9" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="BaiduTieba" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>
